$nav-height: 3em;
nav {
    box-shadow: rgba(255, 255, 255, 0.7) 1px 1px 3px 1px;
    transition: all 0.5s;
    line-height: $nav-height;
    background: black;
    font-variant: small-caps;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 1em;
    a {
        display: inline-block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: white;
        vertical-align: middle;
        &:hover, &:active {
            background-color: $flat-clouds;
            color: black;
        }
    }
}
@media only screen and (max-width: $sm-brkp) {
    nav {
        a {
            font-size: large;
        }
    }
}
@media only screen and (min-width: $md-brkp) {
    nav {
        a {
            font-size: xx-large;
        }
    }
}
@media only screen and (min-width: $lg-brkp) {
    nav {}
}
