.project {
    @extend .shadow-light-sm;
    @extend .no-select;
    position: relative;
    transition: all 0.25s;
    height: 175px;
    background-color: black;
    display: inline-block;
    padding: 0 0.5em;
    vertical-align: top;
    margin: 0.5em 0.5%;
    // width: 250px;
    &:hover, &:active {
        background-color: #232323;
        box-shadow: none;
        cursor: pointer;
    }
    .project-title {
        color: $flat-clouds;
        position: absolute;
        bottom: 0;
        right: 0.5em;
        margin: 0;
        text-align: right;
    }
    .project-desc {}
}
@media only screen and (max-width: $sm-brkp) {
    .project {
        width: 49%;
    }
}
@media only screen and (min-width: $md-brkp) {
    .project {
        width: 24%;
    }
}
@media only screen and (min-width: $lg-brkp) {
    .project {
        width: 250px;
    }
}
