html {
    line-height: $baseLineHeight;
    font-size: $baseFontSize;
    font-family: Open-sans, Georgia;
    color:white;
}
html, body, #main-container {
    // overflow: hidden; // Need this, but not until styles exist to ensure content will always fit
    // background-color: $base;
    background: url(../assets/images/carbonblack.jpg);
    height: 100%;
}
#main-container * {
    @extend .border-boxed;
}
.shadow {
    border: 1px solid rgba(191, 191, 191, 0.5);
    box-shadow: rgba(0, 0, 0, 0.4) 7px 7px 10px 0px;
}
.shadow-sm {
    border: 1px solid rgba(191, 191, 191, 0.5);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.shadow-light {
    border: 1px solid rgba(191, 191, 191, 0.5);
    box-shadow: rgba(255, 255, 255, 0.7) 2px 2px 5px 1px;
}
.shadow-light-sm {
    border: 1px solid rgba(191, 191, 191, 0.5);
    box-shadow: rgba(255, 255, 255, 0.7) 2px 2px 5px 1px;
}
.center {
    text-align: center;
}
.error {
    color: $flat-alizarin;
}
.hidden {
    display: none;
    visibility: hidden;
}
.visible {
    // visibility: inherit;
    // display: inherit;
}
.touchable {
    min-height: $touch-height-min;
    min-width: $touch-width-min;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.border-boxed {
    box-sizing: border-box;
}
